<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.purexua.mapper.UserMapper">
  <select id="selectUserByUsername" resultType="user">
    select * from user
    where user_name = #{username}
  </select>
  <update id="updateUserPass">
    update user
    set password = #{password}
    where user_id = #{userId}
  </update>
  
  <update id="updateUser" >
    update user
    set real_name = #{realName},
    email = #{email},
    address = #{address},
    phone_number = #{phoneNumber}
    where user_id = #{userId}
  </update>
  
  <update id="updateUserBalance" >
    update user
    set balance = #{balance} + balance
    where user_id = #{userId}
  </update>
</mapper>